{% extends 'base.html' %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Enter ride details</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <form method="post">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Ride name</span>
                                </div>
                                <input class="form-control" placeholder="Brevet name" id="brevet-name-input" name="brevet-name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Ride distance</span>
                                </div>
                                <select class="custom-select" name="brevet-distance">
                                    <option value="200">200</option>
                                    <option value="300">300</option>
                                    <option value="400">400</option>
                                    <option value="600">600</option>
                                    <option value="1000">1000</option>
                                    <option value="1200">1200</option>
                                </select>
                                <div class="input-group-append">
                                    <span class="input-group-text">km</span>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">Enter control data</div>
                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <input class="form-control" placeholder="Control name" type="text" id="control-name-input" name="control-name-input"/>
                                    <input class="form-control" placeholder="Control distance" type="number" id="control-distance-input" name="control-distance-input"/>
                                    <div class="input-group-append">
                                        <span class="input-group-text">km</span>
                                        <button class="btn btn-primary" id="add-control-button" type="button" onclick="appendList()">Add control</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="list-unstyled" id="control-list"></ul>
                        <button class="btn btn-primary btn-block" type="submit" id="submit-button">Next></button>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
    <script>
        function appendList() {
        var ul = document.getElementById('control-list');
        var li = document.createElement('li');
        var source_item = document.getElementById('control-name-input');
        var input_group = document.createElement('div');
        input_group.classList.add('input-group');
        input_group.classList.add('mb3');
        li.appendChild(input_group);
        var input = document.createElement('input');
        input.type='text';
        input.classList.add('form-control');
        input.value = source_item.value;
        input.name='control-name';
        input_group.appendChild(input);
        source_item.value='';
        var source_item = document.getElementById('control-distance-input');
        var input = document.createElement('input');
        input.type='number';
        input.step='0.1';
        input.classList.add('form-control');
        input.classList.add('text-right');
        input.value = source_item.value;
        input.name='control-distance';
        input_group.appendChild(input);
        ul.appendChild(li);
        source_item.value='';
        document.getElementById('control-name-input').focus();
        }
    </script>
{% endblock %}
