{% extends 'base.html' %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>{{brevet.name}} {{brevet.nominal_distance}}</h2>
                </div>
            </div>
            <form method="post">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header bg-primary text-white">Organizer Information (Optional)</div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Name</div>
                                        </div>
                                        <input name="organizer-name" id="organizer-name-input" type="text" placeholder="first last" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Email</div>
                                        </div>
                                        <input name="organizer-email" id="organizer-email-input" type="email" class="form-control" placeholder="name@example.com">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Phone</div>
                                        </div>
                                        <input name="organizer-phone" id="organizer-phone-input" type="tel" class="form-control" placeholder="555-555-1234">
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header text-white bg-primary">Enter rider names here.</div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="input-group mb3">
                                    <input name="rider-name-input" id="rider-name-input" type="text" class="form-control" placeholder="Enter rider name">
                                    <div class="input-group-append">
                                        <button id="add-rider" type="button" class="btn btn-primary" onclick="appendList()">Add rider to list</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rider-list">Rider List</label>
                                <ul class="list-unstyled" id="rider-list"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header text-white bg-primary">Enter ride start date and time.</div>
                        <div class="card-body">
                                <div class="form-group">
                                    <div class="input-group date mb3" id="datetimepicker1" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" name="date-time-result"/>
                                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                            <div class="input-group-text fa fa-calendar btn"></div>
                                        </div>
                                    </div>
                                <script type="text/javascript">
                                    $(function () {
                                        $('#datetimepicker1').datetimepicker({
                                        icons: {
                                            time: 'far fa-clock',
                                            date: 'far fa-calendar',
                                            up: 'fas fa-arrow-up',
                                            down: 'fas fa-arrow-down',
                                            previous: 'fas fa-chevron-left',
                                            next: 'fas fa-chevron-right',
                                            today: 'far fa-calendar-check-o',
                                            clear: 'far fa-trash',
                                            close: 'far fa-times'
                                        },
                                        defaultDate: '{{def_start_time}}',
                                        format: 'ddd, MMM D Y HH:mm',
                                    });
                                });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <button class="btn btn-primary btn-lg btn-block" type="submit" id="print-button">Download Card File</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% csrf_token %}
        </form>
        </div>
    <script type="text/javascript">
        function appendList() {
            var ul = document.getElementById('rider-list');
            var li = document.createElement('li');
            var item = document.getElementById('rider-name-input');
            var input = document.createElement('input');
            input.classList.add('form-control');
            input.type='text';
            input.value = item.value;
            input.name='rider-name';
            li.appendChild(input);
            ul.appendChild(li);
            item.value='';
            item.focus();
            }
    </script>
{% endblock %}
