{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="display-4">Brevet Control Card Creator</p>
                <p>Randonneur Ontario's control card creation tool.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h5>Input your own route:</h5>
                <a class="btn-primary btn" id="ad-hoc-link" href="brevet">Ad-hoc route</a>
            </div>
            <div class="col-sm-6">
                <h5>Or select from a pre-existing route:</h5>
                <table id="id_brevet_list">
                    {% for brevet in brevets %}
                    <tr><td><a href="card/{{brevet.id}}">{{brevet.name}} {{brevet.nominal_distance}}</a></td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
